<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导入并生成Excel</title>
</head>
<body>

<div class="inline">
    <div class="ititle">导入文件</div>
    <div class="fileList"></div>
    <div class="input-group">
        <input type="file" name="file" id="file" value="">
        是否为汇总表:<input type="checkbox" value="1" id="isTotal">
        列名称:<input type="text" id="colName">
        <!--编号列:<input type="text" id="idCol">-->
        数值列:<input type="text" id="valueCol">
    </div>
    <button onclick="uploadExcel()">上传</button>
    <button onclick="clean()">清空</button>
    <button onclick="create()">生成</button>

</div>

</body>
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/ui/js/load.js"></script>
</html>