<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导入并生成Excel</title>
</head>
<body>

<div class="inline">
    <div class="ititle">导入文件</div>
    <div class="input-group">
        <input type="file" name="file" id="file" value="">
    </div>
    <button onclick="postData()">上传</button>
    <div class="zresult" id="zresult"></div>
</div>

</body>
<script src="/assets/js/jquery-1.11.3.min.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/ui/js/load.js"></script>
</html>